.col-c {
  float: left;
}
.community-heading {
  font-size: 3.6rem;
  position: absolute;
  top: 44%;
  color: #1ed660;
  width: 36%;
  left: 2%;
  letter-spacing: 2px;
}
.layer {
  position: absolute;
  font-size: 16rem!important;
  top: 7%;
  margin-left: -3%;
  opacity: 0.2;
  color: #1ed660;
}

.container-cards {
  width: 195% !important;
  padding-left: 59% !important;
}
.arrow {
  border-radius: 100%;
  box-shadow: 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  color: #1ed660;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}
.arrow:hover {
  background-color: #1ed660;
  color: white !important;
  border-color: #1ed660;
}
.layer-image {
  border-radius: 95px;
  width: 40%;
  margin-top: 10%;;
}

/* .card-border-margin {
  margin-left: 7%;
} */
.stars {
  margin-top: 5%;
}
.layer-image2 {
  border-radius: 95px;
  width: 40%;
  margin-top: 10%;
}
.community-images-stars {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9px;
}
.stars {
  margin-top: 5%;
}
.card-text-align {
  font-size: 0.9rem;
  margin-top: -8%;
  line-height: 26px;

}
.john-bent {
  font-size: 12px;
  margin-top: 8%;
}
.name-card {
  font-weight: bold;
}
.card-border {
  border: 0;
  margin: 2%;
  border-radius: 32px;
  /* box-shadow: 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 20px 0 rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.1);
}
.name-experience {
  padding: 8%;
}
.card-comunity {
  width: 19rem !important;}

@media (max-width: 770px) {
  .card-border {
    margin-left: 17%;
  }
}
@media (max-width: 990px) {
  .layer {
    margin-top: 5%;
  }
}
.arrow-display {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  right: 4%;
  padding: 1%;
}
@media (max-width: 767px) {
  .arrow {
    width: 10%;
  }
}

@media (max-width: 590px) {
  /* .layer {
    width: 10%;
  } */
  .community-heading {
    font-size: 1.7rem;
  }
}
/* 
@media (max-width: 430px) {
  .card-border-margin {
    margin-right: -11px;
    margin-left: -22px;
  }
}
*/
@media (max-width: 402px) {
  .row-cards {
    margin-left: -18%;
  }
}

@media (max-width: 400px) {
  .card-border-margin {
    margin-right: 10px !important;
    margin-left: -20px;
  }
  .arrow {
    width: 15%;
  }
  .row-cards {
    margin-right: 10px !important;
    margin-left: -27px;
  }
}

@media (max-width: 270px) {
  .row-cards {
    margin-left: -38%;
  }
}

@media (max-width: 990px) {
  .arrow {
    width: 6%;
  }
  /* .layer {
    position: relative;
    top: 9%;
    width: 11%;
    height: 37%;
  } */

  .community-heading {
    position: relative;
    top: 5%;
    text-align: center;
  }
  .arrow-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media (max-width: 590px) {
  .arrow {
    width: 10%;
  }
}

@media (max-width: 440px) {
  .arrow {
    width: 16%;
  }
}

.card-border-margin {
  width: 107%;
  margin-left: 0%;
}

/* @media (max-width: 496px) {
  .card-border-margin {
    margin-right: 15px !important;
    margin-left: -40px;
  }
} */

.arrow-back {
  font-size: 1.5rem !important;
}

.arrow-right {
  margin-right: 3% !important;
}
.comunity-row {
  display: block !important;
}

.comunity-row2 {
  display: none !important;
}

@media (max-width: 992px) {
  .comunity-row {
    display: none !important;
  }
  .comunity-row2 {
    display: block !important;
  }
  .community-heading-image2 {
    display: flex;
    justify-content: center;
  }
  .row-cards2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .arrow-back2 {
    font-size: 1.9rem !important;
  }
  .arrow2 {
    border-radius: 100%;
    box-shadow: 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    color: #1ed660;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
  }
  .arrow2:hover {
    background-color: #1ed660;
    color: white !important;
  }
  .arrow-display2 {
    display: flex;
    flex-direction: row;
    margin-right: 69%;  }

  .layer2 {
    /* margin-top: 7%;
    margin-left: -12%;
    width: 3.5rem;
    height: 2.5rem;
    opacity: 0.5; */

    font-size: 5rem!important;

    margin-left: -3%;
    opacity: 0.2;
    color: #1ed660;
  }
  .community-heading2 {
    color: #1ed660;
    font-size: 2rem;
    margin-top: 19%;

  }

  .card-border-margin2 {
    margin-left: -13%;
    margin-right: 0;
  }
  .carousel-inner2 {
    overflow: inherit !important;
  }
  .arrow-right2 {
    margin-right: 3% !important;
  }
  @media (max-width: 770px) {
    .card-border-margin2 {
      margin-left: -25%;
    }
  }
}

@media (max-width: 1220px) {
  .carousel-inner1 {
    width: 108%;
  }
}

@media (max-width: 1148px) {
  .carousel-inner1 {
    width: 115%;
  }
}

@media (max-width: 1078px) {
  .carousel-inner1 {
    width: 125%;
  }
}


/* 
@media(max-width: 1184px) {
  .technology-img {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    border-bottom-right-radius: 0;
    background: white;
}
} */
@media(max-width: 1066px) {
  .arrow {

    height: 50px;
    width: 50px;
  }
}