.card-future {
  width: 12rem;
}
.all-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.all-cards-bottom {
  display: flex;
  justify-content: space-evenly;
  width: 53%;
  margin: 3% 23%;
  flex-wrap: wrap;
}

.features-heading {
  text-align: center;
  margin: 4%;
  color: #1ed660;
}
.card-text {
  font-size: 12px;
  margin-top: 15%;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 7px 7px 10px 10px;
  border-top: 7px solid red;
}
.card1 {
  border-block-start: 5px solid #1ed660;
}
.card2 {
  /* border-block-start: 5px solid #ff3d3d; */
  border: 0px;
}
.card3 {
  border-block-start: 5px solid #38b6ff;
}
.card4 {
  border-block-start: 5px solid #ffbb00;
}

@media (max-width: 832px) {
  .card {
    margin-top: 5%;
  }
}
@media (max-width: 759px) {
  .all-cards-bottom {
    width: 100%;
    margin: 0;
  }
}


