.footer-back {
  background-color: #252f3f;
  padding: 6%;
}
.all-divs-footer {
  display: flex;
  justify-content: space-evenly;
  padding: 0 0 0 3%;
  flex-wrap: wrap;
}
.footer-skyspace-img {
  position: relative;
  right: 5%;
}

.main-footer {
  font-weight: 400;
  color: white;
}
.storage {
  color: gray;
  cursor: pointer;
  margin-top: 3rem;
  font-size: 1.5rem;
}
.footer-input {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  right: 6%;
}
.input-foot {
  border-radius: 48px;
  width: 37rem;
  display: block;
  padding: 0.375rem 0.75rem;
  font-style: oblique;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #2e3746 !important;
  border-color: #2e3746 !important;
  font-size: 20px;
  padding: 1.5% 6%;
}
.footer-form {
  display: -webkit-inline-box;
  margin-left: 7%;
}
.storage-bottom {
  color: gray;
  margin-top: 1.5rem;
  font-size: 1rem;
}
.bottom-border {
  border: 0.5px solid gray;
  margin-top: 5%;
}
.footer-subscribe {
  border-radius: 38px;
  background-color: #1ed660;
  color: white;
  height: 3.5rem;
  width: 11rem;
}
.footer-subscribe:hover {
  background-color: white;
  color: #1ed660;
}
.footer-followon {
  display: flex;
  justify-content: space-between;
  margin: 2% 0% -5%;
}
.footer-img-cursor1 {
  margin-top: 3rem;
}
.footer-space {
  margin-top: 1rem;
}
.footer-images-bottom {
  margin-right: 17px;
  width: 50px;
}
.footer-responsive {
  display: none;
}
.footer-responsive {
  display: none;
}

.email {
  color: gray;
  cursor: pointer;
  margin-top: 3rem;
  font-size: 1rem;
  margin-right: 10%;
}

@media (max-width: 992px) {
  .all-divs-footer {
    display: none;
  }
  .footer-responsive {
    display: block;
  }

  .footer-responsive {
    display: block;
  }
  .footer-img-cursor2 {
    cursor: pointer;
    margin: 3% 15%;
    font-size: 1.2rem;
  }
  .responsive-image-sky-space {
    margin: -3% auto;
  }
  .all-divs-footer2 {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }
  .para-footer {
    text-align: center;
  }
  .para-footer-about {
    margin: 2% 11%;
  }
  .footer-img-cursor-follow {
    cursor: pointer;
    margin-top: 20%;
  }
  .main-footer {
    margin-top: 15%;
  }
  .email {
    margin-top: 5%;
  }
}
@media (max-width: 730px) {
  .footer-form {
    display: flex;
    justify-content: center;
 
  }
  .footer-subscribe {
    position: relative;
    top: 20px;
  }
}
@media (max-width: 735px) {
  .all-right-reserved {
    font-size: 0.8rem;
  }
  .img-twitter {
    height: 2.1rem !important;
    width: 2.1rem !important;
  }
  .footer-images-bottom {
    width: 30px;
  }
}

@media (max-width: 529px) {
  .input-foot {
    width: 100%;
  }
}

@media (max-width: 364px) {
  .input-foot {
    width: 100%;
  }
}

.footer-img-cursor {
  cursor: pointer;
  font-weight: 400;
}
.twitter-logo {
  border-radius: 50%;
  width: 8%;
}
/* 
@media (max-width: 800px) {
  .footer-subscribe {
    width: 27%;
  }
}

@media (max-width: 659px) {
  .footer-subscribe {
    width: 35%;
  }
}
@media (max-width: 507px) {
  .footer-subscribe {
    width: 40%;
  }
}

@media (max-width: 430px) {
  .footer-subscribe {
    width: 45%;
  }
}

@media (max-width: 380px) {
  .footer-subscribe {
    width: 55%;
  }
}

@media (max-width: 320px) {
  .footer-subscribe {
    width: 65%;
  }
} */

@media (max-width: 663px) {
  .all-right-reserved {
    margin: 9px;
  }
}

.img-twitter {
  height: 3.3rem;
  width: 3.3rem;
  border-radius: 57%;
}

.all-images-footor-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-images-bottom {
  margin-right: 17px;
}

@media (max-width: 663px) {
  .all-right-reserved {
    margin: 9px;
  }
}

.img-twitter {
  /* height: 3.3rem;
  width: 3.3rem;
  border-radius: 57%; */
}

.all-images-footor-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 605px) {
  .para-footer {
    font-size: 1rem;
  }
  .footer-img-cursor2 {
    font-size: 0.9rem;
    /* width: 40%; */
  }
  .logo-responsive {
    cursor: pointer;
    margin: 3% 30%;
    font-size: 1.2rem;
  }
}

@media (max-width: 459px) {
  .logo-responsive {
    margin: 3% 25%;
  }
}
@media (max-width: 385px) {
  .logo-responsive {
    margin: 3% 20%;
  }
}

@media (max-width: 355px) {
  .footer-img-cursor2 {
    font-size: 0.8rem;
  }
  .logo-responsive {
    margin: 3% 15%;
  }
}
@media (max-width: 992px) {
  .input-foot {
    width: 25rem;
  }
  .footer-subscribe {
    width: 8rem;
  }
}

@media (max-width: 700px) {
  /* .footer-subscribe {
    margin-left: 0;
  } */
  .email {
    color: gray;
    cursor: pointer;
    margin-top: 3rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 456px) {
  .input-foot {
    width: 21rem;
  }
}

@media (max-width: 1145px) {
  .input-foot {
    width: 28rem;
  }
  .footer-subscribe {
    border-radius: 38px;
    background-color: #1ed660;
    color: white;
    height: 3rem;
    width: 9rem;
    /* position: absolute;
    right: 8%; */
  }
}

/* @media (max-width: 1077px) {
  .footer-subscribe {
    position: absolute;
    right: 5%;
  }
} */
