.footer-back {
  background-color: #252f3f;
}
.all-divs-footer {
  display: flex;
  justify-content: space-evenly;
  padding: 3%;
  flex-wrap: wrap;
}

.main-footer {
  font-weight: bold;
  color: white;
}
.storage {
  color: gray;
  cursor: pointer;
}
.footer-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-foot {
  border-radius: 20px;
  width: 70%;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #2e3746 !important;
  border-color: #2e3746 !important;
  height: 44px;
}

.footer-form {
  width: 50%;
}
.footer-subscribe {
  border-radius: 20px;
  background-color: #1ed660;
  color: white;
  width: 22%;
  height: 44px;
}
.footer-subscribe:hover {
  background-color: white;
  color: #1ed660;
}
.footer-followon {
  display: flex;
  justify-content: space-around;
  padding: 1% 0%;
}

.footer-images-bottom {
  margin-right: 17px;
  width: 50px;
}
.footer-responsive {
  display: none;
}
.footer-responsive {
  display: none;
}

@media (max-width: 826px) {
  .all-divs-footer {
    display: none;
  }
  .footer-responsive {
    display: block;
  }

  .footer-responsive {
    display: block;
  }
  .footer-img-cursor2 {
    cursor: pointer;
    margin-top: 1%;
    margin: 3% 11%;
  }
  .all-divs-footer2 {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }
  .para-footer {
    text-align: center;
  }
  .para-footer-about {
    margin: 2% 11%;
  }
  .footer-img-cursor-follow {
    cursor: pointer;
    margin-top: 20%;
  }
  .main-footer {
    margin-top: 15%;
  }
  .email {
    margin-top: 5%;
  }
}
@media (max-width: 700px) {
  .footer-form {
    display: flex;
    justify-content: center;
  }
  .footer-subscribe {
    margin-top: 5% !important;
  }
}

@media (max-width: 529px) {
  .input-foot {
    width: 100%;
  }
}

@media (max-width: 364px) {
  .input-foot {
    width: 100%;
  }
}

.footer-img-cursor {
  cursor: pointer;
}
.twitter-logo {
  border-radius: 50%;
  width: 8%;
}

@media (max-width: 800px) {
  .footer-subscribe {
    width: 27%;
  }
}

@media (max-width: 659px) {
  .footer-subscribe {
    width: 35%;
  }
}
@media (max-width: 507px) {
  .footer-subscribe {
    width: 40%;
  }
}

@media (max-width: 430px) {
  .footer-subscribe {
    width: 45%;
  }

  .storage {
    font-size: 0.8rem !important;
  }
}

@media (max-width: 380px) {
  .footer-subscribe {
    width: 55%;
  }
}

@media (max-width: 320px) {
  .footer-subscribe {
    width: 65%;
  }
}

@media (max-width: 663px) {
  .all-right-reserved {
    margin: 9px;
  }
}

.img-twitter {
  height: 3.3rem;
  width: 3.3rem;
  border-radius: 57%;
}

.all-images-footor-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-images-bottom {
  margin-right: 17px;
}

@media (max-width: 663px) {
  .all-right-reserved {
    margin: 9px;
  }
}

.img-twitter {
  /* height: 3.3rem;
  width: 3.3rem;
  border-radius: 57%; */
}

.all-images-footor-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 590px) {
  .input-foot {
    width: 100%;
  }
  .storage {
    font-size: 0.3rem !important;
  }
  .footer-images-bottom {
    width: 25px !important;
  }
}
