.open-back {
  background-color: #1ed660;
}
.open-img {
  border-radius: 100%;
  width: 400px;
  height: 400px;
  border-bottom-left-radius: 0;
  background: white;
}
.open-heading-display {
  display: flex;
  justify-content: space-evenly;
}
.paragraph {
  width: 50%;
}
.lock {
  width: 10%;
}
.img-div-open {
  padding: 3% 17px 6%;
}
.open-heading {
  color: white;
  margin-top: 3%;
}
.open {
  color: white;
}

.open-img2{
  width: 100%;
  padding: 10%;
  padding-top: 20%;
}
@media(max-width: 992px) {
  .img-div-open{
    display: flex;
    justify-content: center;
  }


}


@media (max-width: 992px) {
  .row-wrap-open {
    display: flex !important;

    flex-wrap: wrap-reverse !important;
  }
}




.lock-open-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lock-open-heading2 {
  display: none;
}
@media (max-width: 992px) {
  .lock-open-heading2 {
    align-items: center;
    /* display: block; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .lock-open-heading {
    display: none;
  }
  .open {
    text-align: center;
    color: white;
  }
}
