.technology-back {
  background-color: #38b6ff;
}
.technology-img {
  border-radius: 100%;
  width: 564px;
  height: 560px;
  border-bottom-right-radius: 0;
  background: white;
  box-shadow: 1px 0 17px -1px #888888;
}
.technology-heading-display {
  display: flex;
  justify-content: space-evenly;
}
.paragraph {
  width: 50%;
}

.row-tec {
  padding: 4%;
}


.lock {
  width: 12%;
}
.img-div-technology {
  /* padding: 3% 3%; */
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}
.technology-heading {
  color: white;
  margin-top: 5%;
  font-size: 3rem;
}
.technology {
  color: white;
  font-size: 23px;
  letter-spacing: 1px;
  line-height: 32px;
  font-weight: 400;
  margin-top: 3rem!important;
}
.technology-img2 {
  width: 100%;
  padding: 12%;
  padding-top: 26%;
}
@media (max-width: 992px) {
  .img-div-technology {
    display: flex;
    justify-content: center;
    padding: 6% 0 8%;
  }
}

.lock-technology-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lock-technology-heading2 {
  display: none;
}
@media (max-width: 992px) {
  .lock-technology-heading2 {
    align-items: center;
    /* display: block; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .lock-technology-heading {
    display: none;
  }
  .technology {
    text-align: center;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
  }
}

@media (max-width: 320px) {
  .technology-img {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    border-bottom-right-radius: 0;
    background: white;
  }
}

@media (max-width: 590px) {
  .technology-heading {
    font-size: 1.6rem;
  }
  .technology {
    font-size: 0.9rem;
  }
  .technology-img {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    border-bottom-right-radius: 0;
    background: white;
  }
}

@media (max-width: 395px) {
  .technology-img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border-bottom-right-radius: 0;
    background: white;
  }
}

@media (max-width: 445px) {
  .technology-img2 {
    padding-top: 23%;
  }
  /* .technology-img {
    width: 250px;
    height: 250px;
  } */
}

@media (max-width: 1149px) {
  .technology-img2 {
    padding-top: 25%;
  }
  /* .technology-img{
    width: 300px;
    height: 300px;
  } */
}

