.technology-back {
  background-color: #38b6ff;
}
.technology-img {
  border-radius: 100%;
  width: 400px;
  height: 400px;
  border-bottom-right-radius: 0;
  background: white;
}
.technology-heading-display {
  display: flex;
  justify-content: space-evenly;
}
.paragraph {
  width: 50%;
}
.lock {
  width: 10%;
}
.img-div-technology {
  padding: 3% 17px 6%;
}
.technology-heading {
  color: white;
  margin-top: 3%;
}
.technology {
  color: white;
}
.technology-img2 {
  width: 100%;
  padding: 10%;
  padding-top: 20%;
}
@media (max-width: 992px) {
  .img-div-technology {
    display: flex;
    justify-content: center;
  }
}

.lock-technology-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lock-technology-heading2 {
  display: none;
}
@media (max-width: 992px) {
  .lock-technology-heading2 {
    align-items: center;
    /* display: block; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .lock-technology-heading {
    display: none;
  }
  .technology {
    text-align: center;
    color: white;
  }
}

@media (max-width: 320px) {
  .technology-img {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    border-bottom-right-radius: 0;
    background: white;
  }
}

@media (max-width: 590px) {
  .technology-heading {
    font-size: 1.6rem;
  }
  .technology {
    font-size: 0.9rem;
  }
  .technology-img {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    border-bottom-right-radius: 0;
    background: white;
  }
}

@media (max-width: 395px) {
  .technology-img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border-bottom-right-radius: 0;
    background: white;
  }
}

@media (max-width: 445px) {
  .technology-img2 {
    padding-top: 23%;
  }
  /* .technology-img {
    width: 250px;
    height: 250px;
  } */
}
