.try-back {
  background-color: #1ed660;
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-items: center;
}
.get-started {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #1ed660;
  color: white;
  border-radius: 13px;
  border-color: #1ed660;
  /* width: 100%; */
  /* padding: 4%; */
  width: 18rem;
  height: 4.4rem;
  font-size: 2rem;
}
.get-started:hover {
  border-color: #1ed660;
  color: #1ed660;
  background-color: white;
}
.heading-try {
  color: white;
  letter-spacing: 1px;
  font-size: 3.2rem;
}

.tryskyspace-btn {
  margin-top: 3%;
}


/* 
@media(max-width: 619px) {
  .tryskyspace-btn {
    width: 27%;
  }
}
 */
/* 
@media (max-width: 460px) {
  .tryskyspace-btn {
    width: 38%;
  }
}

@media (max-width: 320px) {
  .tryskyspace-btn {
    width: 44%;
  }
} */

@media(max-width: 605px) {
  .get-started {
    width: 10rem;
    height: 3.4rem;
    font-size: 1.2rem;
  }
  .heading-try{
    font-size: 1.5rem;
  }

}