.main-back {
  background-color: #edfcf3;
}
.whyskyspace-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
}

.whyskyspaces {
  color: #1ed660;
}
.color-h5 {
  color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 590px) {
  .color-h5 {
    font-size: 1.1rem;
  }
}
@media (max-width: 992px) {
  .color-h5 {
    text-align: center;
  }
}
